.info-shadow {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    z-index: 100;
    .info {
        background-color: #FFF;
        width: 80%;
        height: 90vh;

    }
}
