// colors
$grey: #404040;
$grey-light: #E7E7E7;
$grey-dark: #C2C2C2;
$green: #6FA21E;

$black: #161616;

// spacing
$full-space: 40px;
$half-space: 20px;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;